.response-item .message-item-wrapper p {
    margin-left: auto;
}

.profile-wrapper .profile-image {
    max-width: 196px !important;
    height: 196px !important;
}

.alerts-list .notif-profile-wrapper {
    max-width: 152px;
    width: 100%;
    height: 152px;
    object-fit: cover;
    border: 4px solid #ee2a59;
    border-radius: 50rem !important;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .customs-wrapper img.profile-image {
        max-width: 116px;
        height: 116px;
    }
    .alerts-list .notif-date-wrapper {
        position: absolute;
        right: 16px;
        top: 22px;
    }
}

@media screen and (max-width: 575px) {
    .alerts-list .fs-5 {
        font-size: 3.6vw !important;
    }
    .alerts-list .fs-2 {
        font-size: 4.6vw !important;
    }
    .alerts-list svg {
        width: 12px;
    }
}

@media screen and (max-width: 440px) {
    .customs-wrapper img.profile-image {
        max-width: 86px;
        height: 86px;
    }
    .alerts-list .notif-date-wrapper svg {
        width: 13px;
    }
    .alerts-list .notif-date-wrapper span {
        font-size: 14px !important;
    }
    .alerts-list .display-5 {
        font-size: 6vw !important;
    }
}