.response-item .message-item-wrapper p {
    margin-left: auto;
}

.profile-wrapper .profile-image {
    max-width: 196px !important;
    height: 196px !important;
}

@media screen and (max-width: 575px) {
    .alerts-messages .display-5 {
        font-size: 6.2vw !important;
    }
    .alerts-messages .fs-5 {
        font-size: 4.3vw !important;
    }
    .alerts-messages .fs-2 {
        font-size: 4.6vw !important;
    }
    .alerts-messages .fs-3 {
        font-size: 4.2vw !important;
    }
    .alerts-messages .fs-4 {
        font-size: 4.6vw !important;
    }
    .alerts-messages .fs-1 {
        font-size: 5.5vw !important;
    }
}

@media screen and (max-width: 440px) {
    .alerts-messages ul li svg {
        width: 70px !important;
    }
    .alerts-messages .input-message-wrapper {
        width: 100% !important;
    }
    .alerts-messages .display-5 {
        font-size: 6vw !important;
    }
}