.kados-list .table> :not(caption)>*>* {
    text-align: center;
    vertical-align: middle;
}

.kados-list .table>thead tr th {
    padding: 10px 0;
}

.kados-list .table>tbody tr td {
    padding: 16px 0;
    font-family: Avenir-Heavy;
    color: #58585a;
    word-wrap: break-word;
    word-break: break-all;
}

.kados-list .table-striped>tbody>tr:nth-of-type(2n+1) {
    --bs-table-accent-bg: #f7f8f8;
}

.kados-list .table-striped>tbody>tr:nth-of-type(2n) {
    --bs-table-accent-bg: #e9eaeb;
}

.kados-list .talent-profile-wrapper img.profile-image {
    max-width: 142px;
    height: 142px;
    border: 4px solid #58585a;
}

.kados-list table .day-sent {
    display: block;
}

@media screen and (max-width: 767px) {
    .kados-list .talent-profile-wrapper img.profile-image {
        max-width: 100px;
        height: 100px;
    }
    .kados-list table a svg {
        width: 16px;
        margin-right: 20px;
    }
    .kados-list table .status-wrapper {
        font-size: 20px;
    }
    .kados-list table .status-wrapper svg {
        width: 30px;
    }
    .kados-list table .day-sent {
        font-size: 35px;
    }
    .kados-list table .sent-wrapper {
        font-size: 16px !important;
    }
    .kados-list .table> :not(caption)>*>* {
        width: 132px;
    }
}

@media screen and (max-width: 576px) {
    table tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        word-break: break-word;
    }
    .kados-list .display-5 {
        font-size: 4.3vw !important;
    }
    .kados-list .fs-2 {
        font-size: 4.6vw !important;
    }
}

@media screen and (max-width: 440px) {
    .kados-list .display-5 {
        font-size: 6vw !important;
    }
}