.special-offer-header {
    background-color: #404041;
    border-radius: 0 0 42px 42px;
    font-family: Avenir-Heavy;
}

.special-offer-header span {
    position: relative;
    top: -12px;
}

header a {
    font-family: Avenir-Regular;
}