.side-drawer {
    position: fixed;
    width: 400px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 50px 16px;
    transition: transform 0.3s ease-out;
}

.side-drawer .side-logo img {
    max-width: 240px;
}

.side-drawer ul li {
    margin: 10px 0;
    width: 100%;
}

.open {
    transform: translateX(0);
}

.close {
    transform: translateX(-100%);
}

.side-logo {
    height: 11%;
}