.banner-wrapper img {
    object-fit: cover;
}

.sign-up-btn {
    padding: 10px 35px;
}

.search-wrapper::before {
    content: '';
    position: absolute;
    height: 33px;
    width: 3px;
    background-color: #abadb0;
    left: 3px;
}

.how-it-works .left-wrapper::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 49vh;
    background-color: #fff;
    top: -97px;
    right: 0;
}

.talent-home .featured-wrapper:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.talent-home .featured-wrapper:hover .image-wrapper {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .08), 0 5px 26px 0 rgba(67, 94, 131, .15);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .08), 0 5px 26px 0 rgba(67, 94, 131, .15);
}

.talent-home .searchbox-wrapper input, .searchbox-wrapper span {
    border: 1px solid #ccc;
}

.talent-home .featured-wrapper .image-wrapper {
    border-radius: 56px;
    border: 2px solid transparent;
    overflow: hidden;
    margin: 0 15px;
}

.talent-home .featured-wrapper .image-wrapper img {
    object-fit: cover;
    animation: 0.5s ease-in-out 0s 1 normal forwards running load-fade-in;
    opacity: 0;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

@keyframes load-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.join-our-list input, .join-our-list .input-group span {
    background-color: #f4f4f4 !important;
}

.talent-home .element-featured-wrapper {
    max-width: 360px;
    width: 100%;
}

.talent-home .how-it-works .col-step-work span {
    max-width: 66px;
    height: 66px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .featured-wrapper .image-wrapper img {
    object-fit: cover;
    animation-name: load-fade-in !important;
    animation: 0.5s ease-in-out 0s 1 normal forwards running;
    opacity: 0;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

@keyframes load-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */

@media screen and (max-width: 1846px) {
    .banner-wrapper h2 {
        font-size: 46px;
    }
}

@media screen and (max-width: 1615px) {
    .banner-wrapper h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 1500px) {
    .right-wrapper label {
        font-size: 2vw;
    }
    .left-wrapper p {
        font-size: 3.2vw;
    }
}

@media screen and (max-width: 1400px) {
    .banner-wrapper h2 {
        font-size: 30px;
    }
    .talent-home .filter-category ul li a {
        padding: 38px 50px;
        max-width: 98px;
        font-size: 14px;
    }
    .how-it-works .col-step-work>div {
        font-size: 25px;
    }
    .talent-home .element-featured-wrapper {
        max-width: 246px;
    }
}

@media screen and (max-width: 1300px) {
    .talent-home .element-featured-wrapper {
        max-width: 226px;
    }
}

@media screen and (max-width: 1200px) {
    .banner-wrapper h2 {
        font-size: 36px;
    }
    .how-it-works .col-step-work>div {
        font-size: 20px;
    }
}

@media screen and (max-width: 991px) {
    .banner-wrapper .cust-wrap-right {
        width: 100% !important;
    }
    .right-wrapper label {
        font-size: 2.8vw;
    }
    .how-it-works .left-wrapper::before {
        display: none;
    }
    .left-wrapper p {
        font-size: 5.5vw;
    }
}

@media screen and (max-width: 767px) {
    .col-step-work>div {
        font-size: 30px;
    }
    .banner-wrapper h2 {
        font-size: 26px;
    }
    .talent-home .how-it-works .col-step-work span {
        max-width: 56px;
        height: 56px;
    }
    .searchbox-wrapper svg {
        width: 13px;
    }
    .search-wrapper::before {
        height: 22px;
        top: 32%;
    }
    .featured-wrapper-column h2 {
        font-size: 5vw;
    }
    .featured-wrapper-column a {
        font-size: 3.5vw !important;
        white-space: nowrap;
    }
    .join-our-list h3 {
        font-size: 5.5vw;
    }
    .join-our-list p {
        font-size: 3vw !important;
    }
    .join-our-list svg {
        width: 22px;
    }
    .join-our-list input {
        padding: 12px 20px !important;
    }
}

@media screen and (max-width: 575px) {
    .talent-home .filter-category ul li a {
        padding: 38px 48px;
        font-size: 12px;
        margin-right: 12px;
    }
    .talent-home .element-featured-wrapper {
        max-width: 186px;
    }
    .download-app-wrapper button {
        width: 100% !important;
        font-size: 25px !important;
    }
    .talent-home .how-it-works .col-step-work span {
        max-width: 50px;
        height: 50px;
    }
    .right-wrapper label {
        font-size: 4vw;
    }
    .talent-home .how-it-works .col-step-work p {
        font-size: 3vw;
    }
    .talent-home .how-it-works .col-step-work span {
        max-width: 46px;
        height: 46px;
        margin-right: 6px !important;
    }
}

@media screen and (max-width: 440px) {
    .banner-wrapper h2 {
        font-size: 24px;
    }
    .talent-home .filter-category ul li a {
        padding: 32px 42px;
        max-width: 86px;
        margin-right: 8px;
    }
    .col-step-work>div {
        font-size: 26px;
    }
    .talent-home .element-featured-wrapper {
        max-width: 198px;
    }
}

@media screen and (max-width: 375px) {
    .banner-wrapper h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 360px) {
    .talent-home .element-featured-wrapper {
        max-width: 300px;
    }
    .join-our-list input {
        font-size: 13px;
    }
    .talent-home .filter-category ul li a {
        padding: 26px 34px;
        max-width: 70px;
        font-size: 9px;
    }
}