.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #f7f8f8;
}

.settings .table-responsive table tr th {
    text-align: start;
}

.settings .table-responsive table tr th {
    text-align: start;
    font-size: 1.8vw;
    color: #404041;
    font-weight: inherit;
}

.settings .table-responsive table tr {
    color: #404041;
}

.settings .table> :not(caption)>*>* {
    text-align: start;
}

#v-pills-tab::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #000;
    right: -50px;
}

.settings .customs-wrapper img.profile-image {
    border: 4px solid #58585a;
}

@media screen and (max-width: 991px) {
    #v-pills-tab::before {
        right: 0;
    }
    .settings .fs-2 {
        font-size: 3vw !important;
    }
    .settings .fs-3 {
        font-size: 2.5vw !important;
    }
    .settings .display-4 {
        font-size: 5vw !important;
    }
    .settings .fs-1 {
        font-size: 3.7vw !important;
    }
}

@media screen and (max-width: 767px) {
    .settings .customs-wrapper img.profile-image {
        max-width: 95px;
        height: 95px;
    }
    #v-pills-tabContent {
        width: 100% !important;
    }
    .settings .fs-2 {
        font-size: 1.9vw !important;
    }
}

@media screen and (max-width: 575px) {
    .settings svg {
        width: 20px;
    }
    .settings .customs-wrapper img.profile-image {
        max-width: 80px;
        height: 80px;
    }
    .settings table tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        word-break: break-word;
    }
    #v-pills-tabContent {
        overflow-y: hidden;
        overflow-x: scroll;
    }
    #v-pills-tabContent>div {
        width: 366px;
    }
    .settings .table-responsive table tr th {
        font-size: 3vw;
    }
    .settings .fs-2 {
        font-size: 2.6vw !important;
    }
    #v-pills-tab {
        min-width: 203px;
    }
}

@media screen and (max-width: 414px) {
    .settings .fs-2 {
        font-size: 3.6vw !important;
    }
    .settings .fs-3 {
        font-size: 3.3vw !important;
    }
}