.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #f7f8f8;
}

.settings .table-responsive table tr th {
    text-align: start;
}

.settings .table-responsive table tr th {
    text-align: start;
    font-size: 1.8vw;
    color: #404041;
    font-weight: inherit;
}

.settings .table-responsive table tr {
    color: #404041;
}

.settings .table> :not(caption)>*>* {
    text-align: start;
}

#v-pills-tab::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #000;
    right: -50px;
}

.settings .customs-wrapper img.profile-image {
    border: 4px solid #58585a;
}