.d-reviews-wrapper {
    background-color: #f4f4f4;
}

form [type="submit"] {
    border-radius: 50px;
    font-family: Avenir-Heavy;
}

.talent-profile .profile-wrapper img {
    background-color: #414042;
}

.profile-name {
    z-index: 9;
}

@media screen and (max-width: 1300px) {
    .charity-wrapper {
        right: -28% !important;
    }
    .profile-details p {
        font-size: 3vw !important;
    }
}

@media screen and (max-width: 1200px) {
    .profile-details p {
        font-size: 34px !important;
    }
}

@media screen and (max-width: 991px) {
    .charity-wrapper {
        right: -6% !important;
    }
    .profile-name span {
        font-size: 30px !important;
    }
}

@media screen and (max-width: 767px) {
    .profile-wrapper img {
        max-width: 350px;
    }
    .profile-details p {
        font-size: 3.5vw !important;
    }
    .reviews-wrapper .card-body p {
        font-size: 3vw !important;
    }
    .reviews-wrapper .card-body h5 {
        font-size: 3.6vw !important;
    }
}

@media screen and (max-width: 575px) {
    .charity-wrapper img {
        max-width: 65px;
        width: 100%;
    }
    .charity-wrapper span {
        font-size: 16px !important;
    }
    .profile-details a {
        font-size: 4.2vw !important;
    }
    .reviews-wrapper .element-header h3 {
        font-size: 5vw !important;
    }
    .reviews-wrapper .element-header a {
        font-size: 4.2vw !important;
    }
}

@media screen and (max-width: 440px) {
    .profile-wrapper img {
        max-width: 376px;
    }
    .profile-name span {
        font-size: 25px !important;
    }
    .book-now span {
        font-size: 26px;
    }
    .reviews-wrapper .card-body h5 {
        font-size: 3.3vw !important;
    }
    .profile-wrapper .rating-star svg {
        width: 25px;
    }
    .reviews-wrapper .rating-star span {
        font-size: 4.5vw !important;
    }
}

@media screen and (max-width: 375px) {
    .talent-home .filter-category ul li a {
        padding: 29px 37px;
        max-width: 76px;
        font-size: 10px !important;
    }
}

@media screen and (max-width: 360px) {
    .profile-name span {
        font-size: 21px !important;
    }
    .btn-read-all-reviews {
        font-size: 20px !important;
    }
}