footer ul li a {
    padding: 0 20px;
    position: relative;
}

footer ul li a::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 22px;
    background-color: #fff;
    right: 0;
    top: 16%;
}

footer ul li:first-child a {
    padding-left: 0;
}

footer ul li:last-child a::before {
    display: none;
}

footer .element-signup-talent button {
    border-radius: 36px;
}

footer .download-app img {
    max-width: 230px;
    width: 100%;
}

@media screen and (max-width: 1163px) {
    footer ul li:nth-child(3) a::before {
        display: none;
    }
    footer ul li:nth-child(4) a::before {
        display: block;
    }
    footer ul li:nth-child(4) a {
        padding-left: 0;
    }
    footer ul li:nth-child(5) a {
        padding-left: 20px;
    }
}

@media screen and (max-width: 1500px) {
    footer ul li a {
        font-size: 1.9vw;
    }
}

@media screen and (max-width: 1300px) {
    footer ul li a {
        font-size: 1.6vw;
    }
    footer .element-signup-talent p {
        font-size: 3vw;
    }
    footer ul li a::before {
        height: 20px;
        top: 6%;
    }
    footer .footer-copyright-wrapper p {
        font-size: 1.2vw;
    }
    footer .element-signup-talent p span {
        font-size: 1.9vw !important;
    }
}

@media screen and (max-width: 1200px) {
    footer .element-signup-talent p {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 991px) {
    footer ul li a {
        font-size: 2.2vw;
    }
    footer .footer-copyright-wrapper p {
        font-size: 2vw;
    }
    footer ul li:first-child a {
        padding-left: 20px;
    }
}

@media screen and (max-width: 767px) {
    footer .element-signup-talent svg {
        width: 46px;
        height: 46px;
    }
}

@media screen and (max-width: 575px) {
    footer ul li a {
        font-size: 2.6vw;
    }
    footer ul li a::before {
        height: 16px;
    }
    footer .element-signup-talent p {
        font-size: 4vw;
    }
    footer .element-signup-talent p span {
        font-size: 2.9vw !important;
    }
    footer .footer-copyright-wrapper p {
        font-size: 3.8vw;
    }
    footer ul li a {
        font-size: 3.3vw;
    }
}

@media screen and (max-width: 440px) {
    footer ul li a {
        padding: 0 12px;
        font-size: 3vw;
    }
    footer .footer-copyright-wrapper p {
        font-size: 3.7vw;
    }
    footer .element-signup-talent button {
        max-width: 310px;
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    footer ul li a::before {
        height: 11px;
    }
}

@media screen and (max-width: 360px) {
    footer ul li a {
        font-size: 22px;
    }
    .element-signup-talent p {
        font-size: 19px;
    }
    footer ul li a::before {
        height: 18px;
    }
}