.banner-wrapper {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

.banner-wrapper p {
    font-family: Avenir-Book;
}

.banner-wrapper img {
    position: absolute;
    bottom: -81px;
    right: 0;
}

.why-join-kado .card-bg-color {
    background-color: #404041;
}

.why-join-kado .card-bg-color img {
    max-width: 90px;
    width: 100%;
}

form [type="submit"] {
    border-radius: 50px;
    font-family: Avenir-Heavy;
}