.talent-signup .banner-wrapper {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

.talent-signup .banner-wrapper p {
    font-family: Avenir-Book;
}

.talent-signup .banner-wrapper img {
    position: absolute;
    bottom: -81px;
    right: 86px;
    width: 464px;
}

.talent-signup .why-join-kado .card {
    background-color: #404041;
}

.talent-signup .why-join-kado .card img {
    width: 90px;
}

.talent-signup .why-join-kado .purpose-wrapper {
    background-color: #e8e8e8;
}

@media screen and (max-width: 1500px) {
    .counter-earning h3 {
        font-size: 38px;
    }
}

@media screen and (max-width: 1400px) {
    .talent-signup .banner-wrapper img {
        right: 0;
    }
    .counter-earning h3 {
        font-size: 35px;
    }
}

@media screen and (max-width: 1200px) {
    .custom-wrapper-contact {
        width: 100% !important;
    }
}

@media screen and (max-width: 1100px) {
    .talent-signup .banner-wrapper {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .talent-signup .banner-wrapper img {
        bottom: -41px;
    }
}

@media screen and (max-width: 991px) {
    .talent-signup .banner-wrapper img {
        position: relative;
    }
}

@media screen and (max-width: 575px) {
    .sign-up-wrapper form {
        width: 100% !important;
    }
}

@media screen and (max-width: 440px) {
    .sign-up-wrapper button {
        font-size: 22px !important;
    }
    .talent-signup .why-join-kado .card img {
        width: 76px;
    }
}