.signapp-modal .accordion-button::after, .signin-continue .accordion-button::after {
    margin-left: 20px !important;
}

.signapp-modal .accordion-button:not(.collapsed), .signin-continue .accordion-button:not(.collapsed) {
    background-color: unset;
}

.signapp-modal button svg, .signin-continue button svg {
    width: 96px;
    height: 96px;
}

.fb-btn-wrapper button {
    background-color: #4d69ba !important;
}

.fb-btn-wrapper button:hover {
    box-shadow: 0 14px 26px -12px rgb(1, 0, 0), 0 4px 23px 0 rgba(64, 64, 65, 0.26), 0 8px 10px -5px rgba(243, 146, 0, .2) !important;
    opacity: .8;
}

@media screen and (max-width: 1199px) {
    .fb-btn-wrapper button {
        font-size: 16px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@media screen and (max-width: 991px) {
    .fb-btn-wrapper button {
        width: 86% !important;
    }
}

@media screen and (max-width: 767px) {
    .signin-continue .accordion-body {
        width: 85% !important;
    }
}

@media screen and (max-width: 575px) {
    .signapp-modal button svg, .signin-continue button svg {
        width: 70px;
        height: 70px;
    }
    #signapp-modal input, #signin-modal input {
        font-size: 4vw !important;
    }
}

@media screen and (max-width: 440px) {
    #signapp-modal .accordion-body, #signin-modal .accordion-body {
        width: 100% !important;
    }
    .fb-btn-wrapper button {
        font-size: 14px !important;
        width: 100% !important;
    }
    .signapp-modal button svg, .signin-continue button svg {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 375px) {
    .signapp-modal button svg, .signin-continue button svg {
        width: 76px;
        height: 76px;
    }
}

@media screen and (max-width: 360px) {
    .signapp-modal button svg, .signin-continue button svg {
        width: 100% !important;
        height: 46px !important;
        max-width: 46px !important;
    }
    .fb-btn-wrapper button {
        font-size: 11px !important;
    }
    form button[type="submit"] {
        font-size: 16px !important;
    }
}