nav ul li a {
    font-family: Avenir-Regular !important;
    margin-right: 52px;
    cursor: pointer;
}

nav ul li:last-child a {
    margin-right: 0;
}

nav ul li a>svg {
    width: 54px;
    height: 54px;
    fill: #ee2a59;
    -webkit-transition: fill .2s ease-out;
    -moz-transition: fill .2s ease-out;
    -o-transition: fill .2s ease-out;
    transition: fill .2s ease-out;
    cursor: pointer;
}

nav ul li .alerts-wrapper:hover .count-message {
    background-color: #404041;
}

nav ul li a:hover>svg, nav ul li a[aria-current="page"]>svg {
    fill: #404041;
}

nav ul li a[aria-current="page"] .count-message {
    background-color: #404041;
}

nav ul li a[aria-current="page"] .nav-item, nav ul li a:hover span.nav-item {
    color: #404041 !important;
}

nav ul li .count-message {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: #ee2a59;
    right: 6px;
    top: -3px;
}

@media screen and (max-width: 991px) {
    nav ul li .count-message {
        right: unset;
        left: 15px;
    }
}

@media screen and (max-width: 414px) {
    nav ul li .count-message {
        left: 6px;
        top: -7px;
    }
}