nav ul li a {
    font-family: Avenir-Regular !important;
    margin-right: 52px;
    cursor: pointer;
}

nav ul li:last-child a {
    margin-right: 0;
}

nav ul li a>svg {
    width: 75px;
    height: 54px;
    fill: #ee2a59;
    -webkit-transition: fill .2s ease-out;
    -moz-transition: fill .2s ease-out;
    -o-transition: fill .2s ease-out;
    transition: fill .2s ease-out;
    cursor: pointer;
}

nav ul li .alerts-wrapper:hover .count-message {
    background-color: #404041;
}

nav ul li a:hover>svg, nav ul li a[aria-current="page"]>svg {
    fill: #404041;
}

nav ul li a[aria-current="page"] .count-message {
    background-color: #404041;
}

nav ul li a[aria-current="page"] .nav-item, nav ul li a:hover span.nav-item {
    color: #404041 !important;
}

nav ul li .count-message {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: #ee2a59;
    right: 8px;
    top: -3px;
}

@media screen and (max-width: 1600px) {
    nav ul li .invite-friends-btn {
        font-size: 1.4vw !important;
    }
}

@media screen and (max-width: 1500px) {
    nav ul li .invite-friends-btn {
        font-size: 1vw !important;
    }
    nav ul li a>svg {
        width: 40px;
        height: 30px;
    }
    nav ul li a {
        margin-right: 40px;
    }
    nav ul li a span.nav-item {
        font-size: 14px !important;
    }
    nav ul li .count-message {
        right: -1px;
        top: -10px;
    }
}

@media screen and (max-width: 1200px) {
    nav ul li a span.nav-item {
        font-size: 14px !important;
    }
    nav ul li .count-message {
        right: -3px;
    }
    nav ul li a {
        margin-right: 30px;
    }
}

@media screen and (max-width: 991px) {
    nav ul li .count-message {
        right: unset;
        left: 15px;
        top: -3px;
    }
    nav ul li a span.nav-item {
        font-size: 1.05rem !important;
    }
    nav ul li .invite-friends-btn {
        font-size: 2vw !important;
    }
}

@media screen and (max-width: 414px) {
    nav ul li .count-message {
        left: 6px;
        top: -7px;
    }
    nav ul li .invite-friends-btn {
        font-size: 3vw !important;
    }
}