.theme-pink-bg-color {
  background-color: #ee2a59 !important;
}

.theme-pink-color {
  color: #ee2a59 !important;
}

.theme-dark-bg-color {
  background-color: #404041 !important;
}

.banner-wrapper h2 {
  font-family: Avenir-Regular;
}

.font-ave-heavy {
  font-family: Avenir-Heavy;
}

.font-ave-black {
  font-family: Avenir-Black;
}

.font-ave-reg {
  font-family: Avenir-Regular;
}

.br-radius {
  border-radius: 50px;
}

.br-radius-40 {
  border-radius: 40px;
}

.svg-icon {
  width: 24px;
}

.text-trans-unset {
  text-transform: unset !important;
}